<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../../components/aif-login/aif-login.html">
<link rel="import" href="../../components/aif-main/aif-main.html">
<link rel="import" href="../../components/aif-rate/aif-rate.html">
<link rel="import" href="../../components/aif-profile/aif-profile.html">
<link rel="import" href="../../components/aif-search/aif-search.html">

<polymer-element name="aif-app">
    <template>
        <style>

        core-animated-pages {
            height: 100%;
        }

        section > * {
            display: block;
            height: 100%;
        }

        </style>

        <core-animated-pages selected="{{selected}}" transitions="cross-fade" on-core-animated-pages-transition-prepare="{{setupView}}">
            <section name="login">
                <aif-login></aif-login>
            </section>
            <section name="main">
                <aif-main person="{{person}}" cross-fade></aif-main>
            </section>
            <section name="rate">
                <aif-rate person="{{person}}" cross-fade></aif-rate>
            </section>
            <section name="profile">
                <aif-profile person="{{person}}" cross-fade></aif-profile>
            </section>
            <section name="search">
                <aif-search cross-fade></aif-search>
            </section>
        </core-animated-pages>
    </template>

    <script src="aif-app.js"></script>
</polymer-element>
